html {
    height: 100%;
    background-image: linear-gradient(#E2CCFF, #AAE2FA);
    font-family: 'Press Start 2P', system-ui;
}


#title {
    text-align: center;
    font-size: 50px;
}

.direction {
    text-align: center;
    font-size: 20px;
}

#icons {
    padding-top: 30px;
    text-align: center;
}

.buttonIcon {
    background-color: #E2CCFF;
}

#playerSelectionImage, #computerSelectionImage {
    width: 300px;
    height: 300px;
    padding-left: 150px;
}

.selections {
    display: inline-block;
    width: 45%;
    padding-top: 40px;
    padding-left: 10px;
}




.scoreTitle {
    text-align: center;
}





